{{#each blogs as |blog|}}
<div class="col-md-10 col-lg-8 col-xl-7">
    <hr class="my-4" />
    <div class="blog-preview">
        <a href="/blog/{{blog.id}}">
            <h2 class="title">{{title}}</h2>
        </a>
        <p class="post_meta">
            Posted by {{user.name}} on {{format_date date_created}}
        </p>
        <div>
            {{content}}
        </div>
        <a href="/blog/{{blog.id}}"><button class="btn btn-primary mt-2 float-right">{{blog.comments.length}}
                comments</button></a></p>
        </a>
    </div>

</div>
{{/each}}